@model eMuseu.Models.Tratamentos

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Tratamentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeTratamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeTratamento)
        </dd>

        <dt>
            Nome da Peca
        </dt>

        <dd>
            @ViewBag.pecaName
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
