@model eMuseu.Models.Mensagem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mensagem</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmailOri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailOri)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Msg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Msg)
        </dd>

    </dl>
</div>
