@{
    ViewBag.Title = "Sobre nós";
}
<h2>@ViewBag.Title.</h2>

<p> Somos uma plataforma online de um museu onde se encontram peças desse museu e informação dos mesmo. Podem ainda ser efetuados empréstimos de peças do espólio do museu.</p>
