@{
    ViewBag.Title = "Sobre nós";
}
<h2>@ViewBag.Title.</h2>
<hr />
<div class="row">
    <div class="col-md-9">
        <p> Somos uma plataforma online do museu Casa Museu Bissaya Barreto onde se encontram peças desse museu e informação dos mesmo. Podem ainda ser efetuados empréstimos de peças do espólio do museu.
        Para tal terá de se registar como perfil Registado e aguardar pela aprovação do Administrador do site.</p>

    </div>
</div>

