@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title</h2>

<br />
<address>
    <strong>Localização:</strong><br />
    Coimbra<br />
    Rua dos Marmelos, 3030-059<br />
</address>

<br />

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2483.3938697970484!2d-8.419405454222867!3d40.2061284412654!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd22f90aa092ce2d%3A0x4cfaf981422e426b!2sCasa+Museu+Bissaya+Barreto!5e0!3m2!1spt-PT!2spt!4v1545669427794" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<address>
    <strong>Contactos:</strong><br />
    239123123<br />
    <strong>Support:</strong>   <a href="mailto:Support@example.com">admink@emuseu.pt</a><br />
</address>
    