
<div class="slider hidden-xs">
    <img src="/Imagens/Slides/img1.jpg" id="image">
    <div class="left_holder"><img onclick="slide(-1)" src="/Imagens/Slides/Esquerda.png" class="left"></div>
    <div class="right_holder"><img onclick="slide(1)" src="/Imagens/Slides/Direita.png" class="right"></div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <h2>FEIRA DO LIVRO NA CASA MUSEU BISSAYA BARRETO</h2>
        <p>
            A Casa Museu Bissaya Barreto acolhe uma Feira do Livro, que estará patente entre os dias 26 de junho e 1 de julho. 
            Os visitantes podem adquirir obras relacionadas com o Universo Bissaya Barreto, nomeadamente exemplares de Uma Obra Social, 
            da autoria do Professor Bissaya Barreto ou da Fotobiografia que lhe é dedicada, mas também catálogos de exposições realizadas na Casa Museu, 
            coleções de estampas e gravuras, edições da antiga Junta de Província da Beira Litoral ou postais e revistas de diferentes épocas.
        </p>
    </div>
    <div class="col-md-6">
        <h2>CASA MUSEU BISSAYA BARRETO LANÇA BILHETE PARA HABITANTE LOCAL</h2>
        <p>
            A Casa Museu Bissaya Barreto tem disponível, a partir desta terça-feira, um novo bilhete, destinado aos habitantes do concelho de Coimbra. 
            Para assinalar o lançamento do bilhete, os visitantes da Casa Museu vão ter, neste dia, a oportunidade de realizar uma visita guiada ao espaço. 
            O bilhete tem o preço simbólico de 2€.
            O número de visitantes da Casa Museu tem vindo a aumentar ao longo dos últimos anos. Neste contexto, é importante para a mesma que o público local, geográfica e afetivamente mais próximo, conheça e visite também este espaço museológico no coração de Coimbra, daquela que foi a residência de Bissaya Barreto e é hoje um espaço cultural da cidade.
        </p>
    </div>
</div>



